* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}

/* Nav */
.navega {
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 2;
}

/*Carousel*/
.carousel {
    width: 100%;
    height: 800px;
    position: relative;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}

.fondo {
    background-color: #000000;
}

.fondo_iconos {
    text-align: center;
    background-color: #00b7ff;
    padding: 5px;
}