* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body {
    font-family: 'Raleway', sans-serif;

}
/* Smooth scroll */
html {
    scroll-behavior: smooth;
}
/*HEADER*/
section {
    background-color: #000;
}
/* Nav */
.navega {
    position: absolute;
    width: 100%;
    top: 20px;
    z-index: 2;
}

/*Carousel*/
.carousel {
    width: 100%;
    height: 800px;
    position: relative;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}
/*section*/